<p id="notice"><%= notice %></p>

<p>
  <strong>Board:</strong>
  <%= @comment.board_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @comment.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @comment.ip %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
