<p id="notice"><%= notice %></p>

<h1>スレッド一覧</h1>

<table>
  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= link_to board.title, board %>（<%= Comment.where("board_id = ?",board).count %>）</td>
        <td><%= board.created_at.strftime("%Y/%m/%d %H:%M") %></td>   
        <td><%= link_to '編集', edit_board_path(board) %></td>
        <td><%= link_to '削除', board, method: :delete, data: { confirm: '削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規スレッド作成', new_board_path %>
