<p id="notice"><%= notice %></p>
<h1><%= @board.title %></h1>
 スレッド作成者：<%= name(@board.editor) %> （作成日時：<%= @board.created_at.strftime("%Y/%m/%d %H:%M") %>）



<%= link_to '編集', edit_board_path(@board) %> |
<%= link_to '戻る', boards_path %>



 <h2>コメント</h2>
	 
<% if @board.comments.empty? %>
コメントはまだありません
<% else %>
<% @board.comments.each_with_index do |comment, index| %>
<div>
<p>
<span id="<%= 1 + index %>"><%= link_to 1 + index,  :anchor => '1 + index' %></span>
<%= name(comment.name) %>

<!-- comment.name -->-<%= comment.created_at.strftime("%Y/%m/%d %H:%M") %>
</p>
<div class="comment">
<!--sanitize(simple_format(h(comment.content))) -->
<%= sanitize(autoLink(simple_format(h(comment.content)).gsub(/\r\n|\r|\n/, '<br>'))) %>
<!-- -->
</div>
</div>
<% end %>
<% end %>

<hr>
<h2>新規コメント投稿</h2>
<%= render 'comments/form' %>