<p id="notice"><%= notice %></p>

<h1><%= @board.title %></h1>
 スレッド作成者：<%= name(@board.editor) %> （作成日時：<%= @board.created_at.strftime("%Y/%m/%d %H:%M") %>）



<%= link_to '編集', edit_board_path(@board) %> |
<%= link_to '戻る', boards_path %>



 <h2>コメント</h2>
	 
<% if @board.comments.empty? %>
コメントはまだありません
<% else %>
<% @board.comments.each.with_index(1)  do |comment, index| %>
<div>
<p>
<span id="<%= index %>"><%= link_to index,  :anchor => index %></span>
<%= name(comment.name) %>-<%= comment.created_at.strftime("%Y/%m/%d %H:%M") %>
ID:<%= @sessId %>



<!--@session_id
#セｯｼｮﾝIDを元にdataをprintoutしてみればokﾃﾞｽﾖ 
printout = 
# comment.digitid

テスト：
Time.zone.now > 1.day.ago -->

</p>
<div class="comment">
<%= sanitize(autoLink(h(comment.content).gsub(/\R/, '<br/>'))) %>


</div>
</div>

<% end %>
<% end %>

<hr>
<h2>新規コメント投稿</h2>
<%= render 'comments/form' %>